body {
    font-family: 'Open Sans', sans-serif;
}

#header {
    margin-bottom: 10px;    
    border-bottom: 1px solid #eee;
    font-weight: 400;
}

#header h1 {
    padding: 1.5rem;
}

.section.is-small {
    padding: 1.5rem;
}

/* Keep the cards at the same height */
.card {
    display:flex;
    flex-direction: column;
    height: 100%;
}
.card-footer {
    margin-top: auto;
}

.card-header-title img {
    margin-right: .5rem;
}

/* Color indications for score */
.score {
    font-weight: 600;
}
.score-red {
    color:  hsl(348, 100%, 41%) ;
}
.score-yellow {
    color:  hsl(48, 100%, 40%) ;
}
.score-green {
    color:  hsl(141, 71%, 28%) ;
}

/* Drag and drop */
.drag-area .card {
	opacity: .66;
	transition: opacity .4s ease-in;
	z-index: 0;
}

.drag-area .dragging {
	opacity: 1;
	z-index: 1;
}

.drag-area .droppable {
	opacity: 1;
}
